* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d49a8f;
    color: black;
    padding: 10px 20px;
    min-height: 50px;
}

.header-left span {
    margin-right: 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

main {
    width: 97%; /* Se expande hasta ocupar todo el ancho */
    margin: 20px 20px 20px 20px; /* Elimina los márgenes de los lados */
    padding: 30px;
    background-color: rgb(216, 131, 131);
    border-radius: 10px;
    text-align: center; /* Alinea el contenido a la izquierda */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave para destacar el contenedor */
    

}

.containerpadre {
    display: flex; /* Activa flexbox en el contenedor principal */
    justify-content: space-between; /* Distribuye el espacio entre los contenedores secundarios */
    align-items: center; 
    align-items: stretch; 
    gap: 15px;
}


.location-info {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form select, form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 10px;
}

.radio-buttons {
    margin-bottom: 20px;
}

.radio-buttons label {
    margin-right: 20px;
}

.stock-table {
    margin-bottom: 20px;
}

.stock-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.stock-table th, .stock-table td {
    padding: 12px;
    border: 1px solid white;
    text-align: center;
}

.stock-table a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #0f1655;
}

.alerta {
    background-color: yellow;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}



.form-container1 {
    flex:1;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 48%;
    background-color: #ccc;

}

.plato-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: -10px;
}

.plato-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-container {
    display: flex;
    align-items: center;
    flex: 1;
}

.plato-label {
    width: 19ch;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.plato-item input[type="checkbox"] {
    margin-right: -70px;
}

.cantidad-input {
    width: 100px;
    margin-left: 350px;
}

.btn {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.stock-table .ventas {
    background-color: rgba(255, 0, 0, 0.3);
}

.stock-table .stock-final {
    background-color: rgba(0, 128, 0, 0.3);
}

.form-container2 {
    flex:1;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 48%;
    background-color: #ccc;

}

.insumo-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: -10px;
}

.insumo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-container2 {
    display: flex;
    vertical-align: middle;
    flex: 1;
}

.insumo-label {
    width: 19ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    vertical-align: middle;
    text-align: justify;
}

.insumo-item input[type="checkbox"] {
    margin-right: -70px;
}

.cantidad-input2 {
    width: 100px;
    margin-left: 350px;
}

